<mat-toolbar color="primary">
  <img src="../../assets/images/Raymond_Logo.jpg" width="10%">
</mat-toolbar>
<div class="grid-container">
  
  <mat-grid-list cols="3" rowHeight="550px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title class="dashbord-card-title">
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="card.id == 1" class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

              <!-- Plant Column -->
              <ng-container matColumnDef="Plant" sticky>
                <th mat-header-cell *matHeaderCellDef> Plant </th>
                <td mat-cell *matCellDef="let element"> {{element.Plant}} </td>
              </ng-container>
          
              <!-- Finish Column -->
              <ng-container matColumnDef="FinishMonth">
                <th mat-header-cell *matHeaderCellDef> Finish Month </th>
                <td mat-cell *matCellDef="let element"> {{element.FinishMonth}} </td>
              </ng-container>
          
              <!-- Civil Column -->
              <ng-container matColumnDef="Civil">
                <th mat-header-cell *matHeaderCellDef> Civil </th>
                <td mat-cell *matCellDef="let element"> {{element.Civil}} </td>
              </ng-container>
          
              <!-- Exotic Column -->
              <ng-container matColumnDef="Exotic">
                <th mat-header-cell *matHeaderCellDef> Exotic </th>
                <td mat-cell *matCellDef="let element"> {{element.Exotic}} </td>
              </ng-container>

              <ng-container matColumnDef="RMG">
                <th mat-header-cell *matHeaderCellDef> RMG </th>
                <td mat-cell *matCellDef="let element"> {{element.RMG}} </td>
              </ng-container>

              <ng-container matColumnDef="Export">
                <th mat-header-cell *matHeaderCellDef> Export </th>
                <td mat-cell *matCellDef="let element"> {{element.Export}} </td>
              </ng-container>

              <ng-container matColumnDef="Exclusive">
                <th mat-header-cell *matHeaderCellDef> Exclusive </th>
                <td mat-cell *matCellDef="let element"> {{element.Exclusive}} </td>
              </ng-container>

              <ng-container matColumnDef="Inst">
                <th mat-header-cell *matHeaderCellDef> Inst </th>
                <td mat-cell *matCellDef="let element"> {{element.Inst}} </td>
              </ng-container>

              <ng-container matColumnDef="GrandTotal">
                <th mat-header-cell *matHeaderCellDef> Grand Total </th>
                <td mat-cell *matCellDef="let element"> {{element.GrandTotal}} </td>
              </ng-container>

              <ng-container matColumnDef="TotalOrderQty">
                <th mat-header-cell *matHeaderCellDef> Total Order Qty </th>
                <td mat-cell *matCellDef="let element"> {{element.TotalOrderQty}} </td>
              </ng-container>

              <ng-container matColumnDef="Balance">
                <th mat-header-cell *matHeaderCellDef> Balance %</th>
                <td mat-cell *matCellDef="let element"> {{element.Balance}} </td>
              </ng-container>

              <ng-container matColumnDef="OTOB">
                <th mat-header-cell *matHeaderCellDef> OTOB %</th>
                <td mat-cell *matCellDef="let element"> {{element.OTOB}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
            </table>
          </div>
          <div class="row mat-elevation-z8" *ngIf="card.id == 2">
            <div class="col-md-5 m-2" *ngFor="let item of reports">
                <button mat-raised-button color="accent">{{item.header}}</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>